/*
  DIAGNOSTIC STYLING
*/
/* body {
  background: gray;
}

* {
  outline: 1px dotted black;
}



.lg-image {
  box-shadow: 0 0 60 50px blue;
} */
/* Your Awesome Scripts */
 ::-webkit-scrollbar {
  display: none;
}

*{
  margin: 0;
   font-family: 'Righteous', cursive;
   scrollbar-width: none
 }



 
 body {
    background-color: black;
    width: 100%;
    position: relative;
 }
 
/* Loadscreen */
.preloader{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  animation-name: fadeout;
  animation-delay: 10.5s;
  animation-duration: 1.2s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  z-index: 3;
}

@keyframes fadeout{
        0% {
          
          opacity: 1;
          top:0;

        }
        100%  {
          
          opacity: 0;
          top:-100vh;
        }
      }

.circleview {
  overflow: hidden;
  position: relative;
  margin: auto;
  background-color: black;
  width: 20vw;
  height: 0vw;
  animation-name: expand;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

@keyframes expand{
        0% {
          
          height: 0vw;

        }
        100%  {
          
          height: 40vw;
          width: 40vw;
        }
      }


.circleview h3 {
  margin: 0;
 position: absolute;
  color: white;
  left: 30vw;
  font-size: 21vw;
  text-transform: uppercase;
  animation-name: slide;
  animation-delay: 5s;
  animation-duration: 6s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}


@keyframes expand{
        0% {
          
          height: 0vw;

        }
        100%  {
          
          height: 40vw;
          width: 40vw;
        }
      }


@keyframes slide{
        0% {
          
          left: 30vw;;
        }
        100%  {
          
          left: -100vw;
        }
      }



.loadingbar {
  position: absolute;
  height: 5vw;
  width: 100%;
  margin: auto;
  background-color: white;
  bottom: 20%;
  left: -50vw;
    animation-name: slidebar;
  animation-delay: 6s;
  animation-duration: 9s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}


@keyframes slidebar{
        0% {
          
          left: -50vw;
        }
        50%  {
          
          left: 0vw;
          transform: scale(1);
        }

        100%  {
          
          left: 0vw;
          transform: scale(100);
        }
      }


 
 header {
   position: relative;
   display: block;
   min-height: 100vh;
   background-color: black;
   box-sizing: border-box;
   overflow: hidden;
   
 }
 
 header:after {
   position: absolute;
   top: 0;
   bottom: 0;
   content: '';
     width: 100%;
     height: 100vh;
     z-index: 0;
     opacity: 0.1;
     background-image: url('https://images.unsplash.com/photo-1552666792-fff5d9eee6ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1361&q=80');
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 
  nav h3 {
   position: absolute;
   color: white;
   font-size: 2.5vw;
   z-index: 1;
   left: 4%;
   top: 40%;
   border-bottom: 1px solid white;
 
 }
 
 
 nav {
   display: flex;
   position: relative;
   height: 7vh;
   width: 100%;
   justify-content: flex-end;
   animation-name: fadeinnav;
   animation-duration: 3s;
   animation-fill-mode: none;
   animation-fill-mode: forwards;
   z-index: 4;
 }
 
 @keyframes fadeinnav {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}
 
 .pagenav {
   display: flex;
   align-items: flex-end;
   width: 30%;
   justify-content: space-between;
   padding-right: 5%;
   border-bottom: 1px solid white;
 }
 
 .pagenav a {
   font-size: 1.2vw;
   text-decoration: none;
   color: white;
   text-transform: uppercase;
   z-index: 3;
 }
 
 .featuretxt {
   position: absolute;
   transform: rotate(-90deg);
   bottom: 1%;
   left: 11vw;
   z-index: 2;
 }
 
 .featuretxt h2{
   color: rgba(255,255,255, .9);
   font-size: 6.5vw;
   line-height: 1.3;
   text-transform: uppercase;
 }
 
 .featuretxt .txtoutline {
   color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  rgba(255,255,255, .9);
   
 }
 
 .headimg {
   position: absolute;
   width: 79vw;
   height: 50%;
   top: 23vh;
   left: 10%;
   z-index: 1;
   background-image: url(https://images.unsplash.com/photo-1552777771-7830d51e8fd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
   background-repeat: repeat-x;
   background-position: center center; 
 }
 
 header svg {
   position: absolute;
   bottom: 3%;
   right: 8%;
   width: 8%;
   height: 8%;
 }
 
 
 main {
   display: flex;
   position: relative;
   height: 100vh;
   background-color: black;
   overflow: hidden;
   align-items: center;
   flex-direction: column;
 }
 
 
 
 
 .mainimg1 {
   position: relative;
   margin: auto;
   height: 30%;
   width: 80vw;
 }
 
 .mainimg1::before {
   content: "";
   position: absolute;
   top: 0; left: 0;
   width: 100%; height: 100%;
   background-image: url(https://images.unsplash.com/photo-1507171700100-08e9a10401d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
   background-repeat: none;
   background-size: cover;
   filter: grayscale(100%) opacity(60%);
 }
 
 .mainimg1:hover:before, .mainimg2:hover:before, .mainimg3:hover:before{
   filter: grayscale(0%) opacity(85%);
   transition: all .2s;
 }
 
 .mainimg2 {
   position: relative;
   margin: auto;
   height: 30%;
   width: 80vw;
 }
 
 .mainimg2::before {
   content: "";
   position: absolute;
   top: 0; left: 0;
   width: 100%; height: 100%;
   background-image: url(https://images.unsplash.com/photo-1532708773901-d9468eed9135?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
   background-repeat: none;
   background-size: cover;
    filter: grayscale(100%) opacity(60%);
 }
 
 .mainimg3{
   position: relative;
   margin: auto;
   height: 30%;
   width: 80vw;
 }
 
 .mainimg3::before {
   content: "";
   position: absolute;
   top: 0; left: 0;
   width: 100%; height: 100%;
   background-image: url(https://images.unsplash.com/photo-1501179426689-0c2bc49a6776?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
   background-repeat: none;
   background-size: cover;
   filter: grayscale(100%) opacity(60%);
 }
 
 .mainimg1 h3, .mainimg2 h3, .mainimg3 h3 {
   position: absolute;
   color: white;
   font-size: 6vw;
   bottom: 0;
    filter: none;
   padding: .5vw;
 }


/* About Page */

.aboutpage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  animation-name: fadeinbody;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

@keyframes fadeinbody {
  0% {
    margin-top: 10vw;
    opacity:0;
  }

  100% {
    margin-top: 0vw;
    opacity:1;
  }
}

.abouttxt {
  position: relative;
  margin-top: 20%;
  width: 50%;
}

.abouttxt h3 {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 9vw;
  left: -40vw;
  top: -25vw;
  right: 100px;
}

.abouttxt p {
  position: absolute;
  top: -12vw;
  left: 4vw;
}

.aboutimg {
  position: absolute;
  width: 37vw;
  height: 20vw;
  background-color:white;
  background-image: url(https://images.unsplash.com/photo-1501179426689-0c2bc49a6776?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
  top: 20vw;
  left: 37vw;
  animation-name: fadeinbody;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

 /* Portfolio Grid */

 img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  grid-auto-rows: minmax(100px, 15vw);
  grid-gap: 1.5vw;
  grid-auto-flow: dense;
  width: 80%;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 5%;
  animation-name: fadeingallery;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

@keyframes fadeingallery {
  0% {
    margin-top: 10vw;
    opacity:0;
  }

  100% {
    margin-top: 5%;
    opacity: 0.95;
  }
}

.grid_item_small {
  grid-column-end: span 1;
  grid-row: span 2;
}


.grid_item_large {
  grid-column-end: span 3;
  grid-row: span 2;
}

.caption {
  display: none;
}

.lg-sub-html{
  background-color: rgba(0,0,0,.85)
}

/* Contact Page */
.contactbody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-name: fadeinbody;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

@keyframes fadeinbody {
  0% {
    margin-top: 10vw;
    opacity:0;
  }

  100% {
    margin-top: 0vw;
    opacity:1;
  }
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 5%;
}

form label {
  margin-top: 5%;
  margin-bottom: 1%;
}

form textarea{
  height: 10vw;
}

.contacttxt {
  color: white;
  width: 33%;
  height: 33%;
  line-height: 1.3;
  font-size: 1.5vw;
}

/* Error */
.errorbody {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.errortxt {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20vw;
  margin: auto;
  

}

.errortxt h1 {
  font-size: 20vw;
  margin: 0;
}